<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Номера</h1>
                        <!--<p>configure your pricing table</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->
<section class="container" ng-controller="pricing as vm">
    <div class="price-table">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="single-price price-one">
                    <div class="table-heading">
                        <p class="plan-name">{{main.pricing[0].name }}</p>
                        <p class="plan-price"><!--<span class="dollar-sign">$</span>--><span class="price">{{main.pricing[0].price }}</span><span class="month">/ сутки</span></p>
                    </div>
                    <ul>
                        <li data-ng-repeat="item in main.pricing[0].items">
                            {{item}} <span><i class="fa fa-check"></i></span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-buynow" ng-click="changeGroup('economy')">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-price price-two">
                    <div class="table-heading">
                        <p class="plan-name">{{main.pricing[1].name }}</p>
                        <p class="plan-price"><!--<span class="dollar-sign">$</span>--><span class="price">{{main.pricing[1].price }}</span><span class="month">/ сутки</span></p>
                    </div>
                    <ul>
                        <li data-ng-repeat="item in main.pricing[1].items">
                            {{item}} <span><i class="fa fa-check"></i></span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-buynow btn-hightlight" ng-click="changeGroup('luxe')">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-price price-three">
                    <div class="table-heading">
                        <p class="plan-name">{{main.pricing[2].name }}</p>
                        <p class="plan-price"><!--<span class="dollar-sign">$</span>--><span class="price">{{main.pricing[2].price }}</span><span class="month">/ сутки</span></p>
                    </div>
                    <ul>
                        <li data-ng-repeat="item in main.pricing[2].items">
                            {{item}} <span><i class="fa fa-check"></i></span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-buynow" ng-click="changeGroup('vip')">Подробнее</a>
                </div>
            </div>
            <!--<div class="col-sm-6 col-md-3">
                <div class="single-price price-four">
                    <div class="table-heading">
                        <p class="plan-name">Platinum Plan</p>
                        <p class="plan-price"><span class="dollar-sign">$</span><span class="price">29</span><span class="month">/ Month</span></p>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor <span><i class="fa fa-check"></i></span></li>
                        <li>Consectetur adipiscing <span><i class="fa fa-times"></i></span></li>
                        <li>Nulla pellentesque <span><i class="fa fa-times"></i></span> </li>
                        <li> Integer quis risus <span><i class="fa fa-check"></i></span></li>
                        <li>Phasellus et metus <span><i class="fa fa-times"></i></span></li>
                        <li>Duis nec massa inter <span><i class="fa fa-check"></i></span></li>
                    </ul>
                    <a href="#" class="btn btn-buynow">Подробнее</a>
                </div>
            </div>-->
        </div>
    </div><!--/#price-table-->
</section>