<section  data-ng-controller="admin as vm">
    <div class="error-page-inner" style="display: inherit;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2>Логин</h2>
                        <div class="bg-404">
                            <div class="error-image">

                            </div>
                        </div>

                        <section id="subscribe">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3 newsletter">
                                                <form id="newsletter" action="data/login/checklogin.php">
                                                    <input class="form-control input-group-add" ng-model="user.email" type="text" name="email" value="" placeholder="Login">
                                                    <!--<i class="fa fa-check"></i>-->
                                                    <input class="form-control input-group-add" ng-model="user.password" type="password" name="password" value="" placeholder="Password">
                                                    <!--<i class="fa fa-check"></i>-->
                                                    <input type="submit" ng-click="login();" class="btn btn-error" value="Login">
                                                </form>
                                                <p>Don't worry we will not use your email for spam</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>