<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header" style="background: url('/Content/css/patterns/shattered.png') no-repeat;padding: 3px 25px;">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">

                            <h1>Админ</h1>

                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <!--<img alt="image" style="height: 45px;margin-left: -15px;" src="/Content/img/logo.png">-->
                </div>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.aboutus"><i class="fa fa-user"></i> <span class="nav-label">О нас</span></a>
            <li ui-sref-active="active">
                <a ui-sref="index.pricing"><i class="fa fa-user"></i> <span class="nav-label">Номера</span></a>
            <li ui-sref-active="active">
                <a ui-sref="index.photo"><i class="fa fa-user"></i> <span class="nav-label">Фото</span></a>
            <li ui-sref-active="active">
                <a ui-sref="index.entertainment"><i class="fa fa-user"></i> <span class="nav-label">Досуг</span></a>
            <li ui-sref-active="active">
                <a ui-sref="index.overall"><i class="fa fa-user"></i> <span class="nav-label">Общее</span></a>
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.accounts"><i class="fa fa-users"></i> <span class="nav-label">Accounts</span></a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.clusters"><i class="fa fa-database"></i> <span class="nav-label">Clusters</span></a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.nodes"><i class="fa fa-th"></i> <span class="nav-label">Nodes</span> </a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.streams"><i class="fa fa-exchange"></i> <span class="nav-label">Streams</span> </a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.doctor"><i class="fa fa-user-md"></i> <span class="nav-label">Doctor</span> </a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="index.admin"><i class="fa fa-user"></i> <span class="nav-label">Админ</span></a>-->
            <!--</li>-->
            
        </ul>

    </div>
</nav>